.container {
  display: flex;
  flex-direction: column;
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
  justify-content: center;
  align-self: center;
  height: 100vh;
}

.scrollable {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 2rem;
}

.ghostbox {
  position: absolute;
  transition: transform 0.2s, filter 1s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ghostbox:hover {
  transform: scale(1.2);
  filter: hue-rotate(90deg);
  z-index: 1;
}

.imagebox {
  position: relative;
  height: 200px;
  width: 200px;
  border: 2px solid white;
}

.imagebox > div {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
