
.container {
  display: flex;
  flex-direction: column;
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
  justify-content: center;
  align-self: center;
  height: 100vh;
}

.scrollable {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;
  overflow-x: auto;
}

.scrollable > img {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}

.scrollable > img:hover{
  transform: scale(2);
}
